{% extends 'base.html' %}
{% block title %}
    Vardaan Cabs
{% endblock title %}

{% block content %}
    <!-- Carousel -->
    <div
        id="carouselExampleCrossfade"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    >
        <div class="carousel-indicators">
        <button
            type="button"
            data-mdb-target="#carouselExampleCrossfade"
            data-mdb-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            type="button"
            data-mdb-target="#carouselExampleCrossfade"
            data-mdb-slide-to="1"
            aria-label="Slide 2"
        ></button>
        <button
            type="button"
            data-mdb-target="#carouselExampleCrossfade"
            data-mdb-slide-to="2"
            aria-label="Slide 3"
        ></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img
            src="../static/hadwt-GdXeUZLB66E-unsplash.jpg"
            class="d-block w-100"
            alt="..."
            height="800px"
            width="100vw"
            />
        </div>
        <div class="carousel-item">
            <img
            src="../static/mesut-kaya-eOcyhe5-9sQ-unsplash.jpg"
            class="d-block w-100"
            alt="..."
            height="800px"
            width="100vw"
            />
        </div>
        <div class="carousel-item">
            <img
            src="../static/sylwia-bartyzel-eU4pipU_8HA-unsplash.jpg "
            class="d-block w-100"
            alt="..."
            height="800px"
            width="100vw"
            />
        </div>
        </div>
        <button
        class="carousel-control-prev"
        type="button"
        data-mdb-target="#carouselExampleCrossfade"
        data-mdb-slide="prev"
        >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button
        class="carousel-control-next"
        type="button"
        data-mdb-target="#carouselExampleCrossfade"
        data-mdb-slide="next"
        >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel -->

    <div class="container-fluid" style="font-family: 'Raleway';">
        <section class = "red">
            <div class="row justify-content-lg-between">
                <div class="col col-8">
                    <img src="../static/averie-woodard-5d20kdvFCfA-unsplash.jpg" alt="" class="img-fluid" height="500px" width="700px">
                </div>
                <div class="col col-4">
                    <p class="display-4" style="color: thistle;">Safe, stress-free and satisfactory car rental experience</p>
                    <p class="display-6" style="color: thistle;">Vardaan is truly a blessing for all your car hire needs!</p>
                    <button class="btn btn-lg btn-white btn-outline-black" type="button">
                        Call now to book the most memorable trip of your life(
                        <a href="tel:9911879555">9911879555</a>)
                    </button>
                </div>
            </div>
            
            <div class="custom-shape-divider-bottom-1634580243">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section class = "blue p-4" style = "color: thistle;">
            <p class="display-2">Our Services</p>
            <div class="row justify-content-around m-5">
                <div class="card" style="width: 30vw; margin-right: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
                <div class="card" style="width: 30vw;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around m-5">
                <div class="card" style="width: 30vw; margin-right: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
                <div class="card" style="width: 30vw;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around m-5">
                <div class="card" style="width: 30vw; margin-right: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
                <div class="card" style="width: 30vw;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around m-5">
                <div class="card" style="width: 30vw; margin-right: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
                <div class="card" style="width: 30vw;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
        </section>
        <section class = "pink">
            <p class="display-3">Thicc Curves</p>
            <p>Error molestias voluptatum cum temporibus odio, aliquam quam ratione provident unde velit dicta architecto dolor, vero, maxime omnis non quia a rem? Facere, sequi quidem dolorem doloremque voluptatum assumenda accusamus eaque a quis aperiam porro perferendis animi cum aliquam incidunt quo voluptatem fuga dolore. Perferendis exercitationem fuga aperiam eaque.</p>
            <div class="custom-shape-divider-top-1634580582">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section class = "yellow">
            <p class="display-3">Thicc Curves</p>
            <p>Aliquid temporibus blanditiis dolorem nihil. Omnis nulla a accusamus perferendis quis architecto dolores eius iusto, aliquid atque quidem! Id voluptatem eos consequatur aspernatur atque esse repudiandae, eius, ducimus, quo neque at accusantium! Ducimus atque earum suscipit culpa. Vel voluptates reiciendis amet ut iste molestias beatae perferendis maxime optio a!</p>
        </section>
        <section class = "violet">
            <display-3 >Thicc Curves</display-3>
            <p>Debitis quod voluptate temporibus magnam recusandae, adipisci inventore mollitia nihil accusamus. Quis quidem voluptates temporibus doloremque ipsa nostrum fugiat, accusantium libero ab unde odit adipisci deleniti, quod ducimus veritatis, odio ullam fuga? Minus optio eaque eveniet ab odit! Corporis blanditiis perspiciatis magnam molestias exercitationem culpa vel aliquam placeat sint.</p>
        </section>
        
        
    </div>
{% endblock content %}